root = true

[*]
charset = utf-8-bom
end_of_line = crlf
insert_final_newline = true
indent_style = space
indent_size = 4

[*.cs]
dotnet_style_require_accessibility_modifiers = true:suggestion

[*.rs]
indent_size = 4
